<div align="center" class="homepage">
    <div>
        <h1>The most <strong>versatile</strong>
        <br>ToDo application</h1>
        <br>
        <h2>Create ToDo Lists</h2>
        <h4>by priority, by categories, by date</h4>
    </div>
    <%=image_tag ("todo-app-picture3-0.jpg")%>
    <h2>Todo Items</h2>
    <h4>Add, Delete, Edit and Mark as Complete!</h4>   
    <%=image_tag ("todo-app-picture4-0.jpg")%>
    <div id="landing_buttons">
       <a href="/users/sign_up" class="btn btn-warning" role="button">Register</a>
       <a href="/users/sign_in" class="btn btn-success" role="button">Log In</a>
    </div>
</div>